@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #F2F2F2;
}

.navigation-link {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.navigation-logo {
  width: 140px;
  margin-right: 40px;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.button-light {
  color: #242424;
  background-color: #ffffff;
}

.page-header,
.main,
.page-footer {
  background-color: #ffffff;
}

.search-form-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 440px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-user-come {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color:#FFFFFF;
  text-align: center;
  text-decoration: none;
}

.hero {
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.sedona-description {
  color:#000000;
  background-color:#FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.basic-text {
  color: #333333;
  background-color:#FFFFFF;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.reasons-town {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages {
  text-align: center;
}

.reasons-list {
  text-align: center;
  margin: 0;
  padding: 0;
}

.reasons-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: space-between;
}

.reasons-item {
  width: 400px;
}

.advantages-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: space-between;
}

.advantages-item {
  width: 400px;
}

.reasons-item-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  background-color:#FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  background-color:#FFFFFF;
}

.reasons-subtitle {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color:#ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-text {
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.reasons-dark {
  background-color: #83B3D333;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:#000000;
  background-color:#FFFFFF;
  text-transform: uppercase;
}

.reasons-subtitle-inner {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-light {
  background-color: #83B3D31F;
}

.page-footer {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

.footer-social {
  color:#000000;
  background-color:#FFFFFF;
}

.footer-social-list {
  width: 170px;
  margin-right: 42px;
}

.footer-contacts {
  margin-left: auto;
  max-width: 720px;
}

.footer-logo {
  margin-left: auto;
  max-width: 115px;
}

.footer-contacts-link {
  color:#000000;
  background-color:#FFFFFF;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.footer-logo {
  color:#000000;
  background-color:#FFFFFF;
}


.search-form-section {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
}

.subscribe {
  background-image: url("../images/main-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#756157;
  color:#FFFFFF;
}

.inner-header {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700px;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  text-transform: none;
  background-image: url("../images/catalog-upper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 370px;
  margin-right: 140px;
}

.catalog-right-column {
  width: 1060px;
}


.inner-header h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700px;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  text-transform: none;
  background-image: url("../images/catalog-upper.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: none;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

.button-clear {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.select-control {
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.hotel-card {
  background-color: #ffffff;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  color: #000000;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.product-card-button {
  background-color: #756157;
  text-decoration: none;
}

.product-card-price {
  text-align: right;
}

.hotel-rating {
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
