@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}


.navigation-header {
  display: flex;
  padding: 0 70px;
  margin-bottom: -10px;
}

.main {
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 507px;
  flex-wrap: wrap;
}

.navigation-user {
  justify-content: flex-end;
  max-width: 268px;
  margin-left: auto;
}

.navigaton-user .navigation-item:last-child {
  padding: 14px 0 14px 20px;
}

.navigation-link {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
}

.pushbutton {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 8px 34px;
  cursor: pointer;
  outline: none;
  border: none;
}

.title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages .title {
  padding: 0 286px;
}

.subtitle {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.navigation-pushbutton {
  max-width: 160px;
}

.navigation-active-link {
  position: relative;
}

.navigation-active-link::before {
  position: absolute;
  content: "";
  background-color: #756257;
  height: 2px;
  left: 16px;
  right: 16px;
  bottom: -1px;
}

.navigation-logo {
  position: relative;
  z-index: 1;
  margin-right: 28px;
}

.navigation-user .navigation-user-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.navigation-user-link-found {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-link-liked {
  position: relative;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-container {
  flex-grow: 1;
  padding-top: 52px;
  padding-bottom: 25px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.navigation-user .navigation-item:last-child {
  padding: 14px 0 14px 20px;
}

.amount {
  position: absolute;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 0 3px;
  box-sizing: border-box;
  background-color: #7db54f;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  left: 20px;
  top: 11px;
}

.button-navigation {
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  padding: 8px 34px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.button-light {
  color: #242424;
  background-color: #ffffff;
}

.page-header,
.main,
.page-footer {
  background-color: #ffffff;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image:
    url("../images/icons/divider.svg"),
    url("../images/index-background.jpg");
  background-position:
    center bottom,
    center;
    background-repeat: no-repeat;
}

.search-form-button {
  width: 376px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 440px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.logo {
  display: block;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.sedona-description {
  color:#000000;
  background-color:#FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.basic-text {
  color: #333333;
  background-color:#FFFFFF;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.reasons-town {
  padding: 102px 85px;
  width: 400px;
}

.advantages {
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: space-between;
}

.reasons-item {
  width: 400px;
}

.advantages-title {
  position: relative;
  margin-bottom: 30px;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
}

.advantages-object {
  position: relative;
  margin-bottom: 30px;
  margin-top: 0;
}

.reasons-item-big .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.reasons-item-big {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.reasons-subtitle .advantages-object {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.reasons-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-bright {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-section .title {
  margin-bottom: 20px;
}

.reasons-item-big .reasons-text {
  color: inherit;
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  padding: 81px 85px;
  padding-top: 183px;
}

.reasons-item-wrapper {
  padding: 112px 83px;
  box-sizing: border-box;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons-item-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  background-color:#FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.reasons-subtitle {
  position: relative;
  margin-top: 0;
  margin-bottom: 62px;
  text-transform: uppercase;
}

.reasons-subtitle::after {
  position: absolute;
  content: "";
  left: 85px;
  bottom: -32px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.reasons-item-big .reasons-subtitle::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages .advantages-title {
  margin-bottom: 25px;
  padding: 0 286px;
}

.advantages-text {
  padding: 69px 0 90px;
}

.reasons-text .advantages-recomend {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-wrap {
  padding: 64px 340px;
}

.reasons-dark {
  background-color: #83B3D333;
}


.reasons-subtitle-inner {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-light {
  background-color: #83B3D31F;
}

.advantages-item-bright .reasons-item-bright {
  background-color: rgba(131, 179, 211, 0.2);
}

.interest {
  padding: 96px 304px;
}

.interest .title {
  margin-bottom: 20px;
}

.interest .subtitle {
  margin-bottom: 55px;
}

.page-footer {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

.footer-social {
  display: flex;
  min-width: 142px;
}

.footer-social-list {
  display: flex;
  max-width: 144px;
  flex-wrap: wrap;
  list-style-type: none;
  row-gap: 5px;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  margin-left: auto;
  max-width: 720px;
}

.footer-logo {
  margin-left: auto;
  max-width: 115px;
}

.footer-contacts-link {
  color:#000000;
  background-color:#FFFFFF;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.footer-logo {
  color:#000000;
  background-color:#FFFFFF;
}


.search-form-section {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
}

.subscribe {
  background-image: url("../images/main-subscribe.jpg");
  padding: 96px 258px 104px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe .title {
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe .subtitle {
  margin-bottom: 55px;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.subscribe-form-email {
  color: #000000;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 4px 0 0 4px;
  outline: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  padding: 11px 17px;
  box-sizing: border-box;
  font-family: inherit;
}

.pushbutton-blue {
  background-color: #82b3d3;
}

.subscribe-pushbutton {
  font-size: 20px;
  line-height: 36px;
  min-width: 232px;
  border-radius: 0 4px 4px 0;
}

.inner-header {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700px;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  text-transform: none;
  background-image: url("../images/catalog-upper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 370px;
  margin-right: 140px;
}

.catalog-right-column {
  width: 1060px;
}


.inner-header h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700px;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  text-transform: none;
  background-image: url("../images/catalog-upper.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: none;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

.button-clear {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.select-control {
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.hotel-card {
  background-color: #ffffff;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  color: #000000;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.product-card-button {
  background-color: #756157;
  text-decoration: none;
}

.product-card-price {
  text-align: right;
}

.hotel-rating {
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 70px 35px;
}
